@CHARSET "UTF-8";

.qui-button {
    border: none;
    border-radius: 3px;
    background: #ededed;
    color: #606060;
    cursor: pointer;
    float: left;
    line-height: 30px;
    margin: 0;
    padding: 0 10px;
    position: relative;

    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;

            box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
    -webkit-box-shadow: 0 0 2px #999;
}

.qui-button-active,
.qui-button:active,
.qui-button:hover {
    background: #0069B4;
    color: #FFFFFF;

            box-shadow: none;
       -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.qui-button::-moz-focus-inner {
    border: none;
}

.qui-button:disabled {
    cursor: default;
    background: #efefef;
    background: rgba(239, 239, 239, 0.5);
    color: #bbb;

    box-shadow: 0 0 2px #aaa;
    -moz-box-shadow: 0 0 2px #aaa;
    -webkit-box-shadow: 0 0 2px #aaa;
}

.qui-button[disabled]:hover {
    background: #efefef;
    background: rgba(239, 239, 239, 0.5);
    color: #bbb;

    box-shadow: 0 0 2px #aaa;
    -moz-box-shadow: 0 0 2px #aaa;
    -webkit-box-shadow: 0 0 2px #aaa;
}


.qui-button-text {
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
}

.qui-button-text-image {
    vertical-align: middle;
}

.qui-button-image {
    margin: 0;
}

.qui-button-drop {
    bottom: 0;
    font-size: 10px;
    height: 20px;
    left: 0;
    line-height: 20px;
    position: absolute;
    width: 20px;
}

.qui-button .image-container img {
    margin: 10px auto;
}


.qui-button::after {
    content: '';
    left: -3px;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -3px;
    width: 100%;
}

/* Effect Boris */
.qui-button--click::after {
    border: 3px solid rgba( 0, 0, 0, 0.3 );
    animation: anim-effect-boris 0.7s forwards;

    -webkit-animation: anim-effect-boris 0.7s forwards;
    -moz-animation:    anim-effect-boris 0.7s forwards;
    -o-animation:      anim-effect-boris 0.7s forwards;
}
@-webkit-keyframes anim-effect-boris {
    0% { transform: scale3d(0.9, 0.9, 1); }
    0%, 50% { opacity: 0.7; }
    50%, 100% { opacity: 0; }
    100% { opacity: 0; transform: scale3d(1, 1, 1); }
}
@-moz-keyframes anim-effect-boris {
    0% { transform: scale3d(0.9, 0.9, 1); }
    0%, 50% { opacity: 0.7; }
    50%, 100% { opacity: 0; }
    100% { opacity: 0; transform: scale3d(1, 1, 1); }
}
@-o-keyframes anim-effect-boris {
    0% { transform: scale3d(0.9, 0.9, 1); }
    0%, 50% { opacity: 0.7; }
    50%, 100% { opacity: 0; }
    100% { opacity: 0; transform: scale3d(1, 1, 1); }
}
@keyframes anim-effect-boris {
    0% { transform: scale3d(0.7, 0.7, 1); }
    0%, 50% { opacity: 0.5; }
    50%, 100% { opacity: 0; }
    100% { opacity: 0; transform: scale3d(1, 1, 1); }
}
