
.qui-select {
    float: left;
    height: 30px;
    width: 200px;

    margin: 0;
    padding: 0 2px;

    border: 1px solid #c9c8c5;
    background: #fff;
    position: relative;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.qui-select .drop-icon {
    background: url(images/drop.png) center center no-repeat;
    float: right;
    width: 16px;
    height: 30px;
}

.qui-select .icon {
    float: left;
    width: 28px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.qui-select-no-icons .icon {
    display: none;
}

.qui-select .text {
    float: left;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 46px);
}

.qui-select-no-icons .text {
    width: calc(100% - 16px);
}

.qui-select-disable {
    cursor: default !important;
    opacity: 0.6;
}

.qui-select-search {
    border: none !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.qui-select-container .qui-contextmenu-container {
    margin-left: 1px !important;
}