
/** QUI Tool / Tabbar
 ================================================================= */

.qui-toolbar {
    float: left;
}

.qui-toolbar-container {
    float: left;
    overflow: hidden;
}

.qui-toolbar-button {
    border-bottom-width: 2px !important;
    float: left;
    line-height: 32px !important;
    margin: 0 2px !important;
    padding: 0 10px !important;
}

.qui-toolbar-button .qui-button-drop {
    display: none;
}
