
/** QUI Toolbar Tab
 ================================================= */

.qui-toolbar-tab {
    float: left;
    margin: 0 0 0 5px;
    cursor: pointer;
    background: #2F8FC6;
    color: #FFFFFF;
    line-height: 32px;

    border-color: #2F8FC6;
    border-width: 1px;
    border-style: solid;

    -webkit-border-top-right-radius: 5px;
     -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topright: 5px;
         -moz-border-radius-topleft: 5px;
            border-top-right-radius: 5px;
             border-top-left-radius: 5px;

/*
    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);

    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    */
}

.qui-toolbar-tab span {
    margin: 0 20px;
    white-space: nowrap;
}

.qui-toolbar-active {
    background: #FFFFFF !important;
    border-color: #DDDDDD;
    border-width: 1px;
    border-style: solid;
    border-bottom: 1px solid #FFFFFF !important;
    color: #505050;

    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
}

.qui-toolbar-disable {
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

.qui-toolbar-hover {
    background: #0069B4;
    /*
    background: #ebe7dc;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebe7dc', endColorstr='#d7d4cb');
    background: -moz-linear-gradient(-90deg, #ebe7dc, #d7d4cb) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center bottom, center top, from(#ebe7dc), to(#d7d4cb));
    */
}