
.qui-panel {
    background: #F2F2F2;
    border: 1px solid #D3D3D3;
    clear: both;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.qui-panel:hover .qui-panel-content {
    background: #FFFFFF;
}

.qui-panel:hover .qui-panel-header,
.qui-panel:hover .qui-panel-title {
    color: #FFFFFF;
}

.qui-panel-header {
    border-bottom: 1px solid #2F8FC6;
    background: #2F8FC6;
    color: #8BC6E2;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.qui-panel-title {
    color: #8BC6E2;
    display: inline-block;
    float: left;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    overflow: hidden;
}

.qui-panel-icon {
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 30px;
}

.qui-panel-footer {
    border-top: 1px solid #D3D3D3;
    clear: both;
    float: left;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    width: 100%;
}

.qui-panel-expand,
.qui-panel-collapse {
    /*background: url(images/collapse-expand.gif) left top no-repeat;*/
    cursor: pointer;
    float: right;
    height: 40px;
    line-height: 40px;
    padding-right: 5px;
    text-align: center;
    width: 40px;
}

.qui-panel-expand {
    /*background: url(images/collapse-expand.gif) left -16px no-repeat;*/
}

.qui-panel-content {
    /*background: #FFFFFF;*/
   background: #F2F2F2;
    float: left;
    padding: 20px;
    position: relative;
    width: 100%;
}

.qui-panel-highlight {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 100;

    background-color: #6C98D9;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;

}

/* Panel topic buttons
 ================================================================= */

.qui-panel-buttons {
    background: #dedede;
    height: 50px;
    position: relative;
    width: 100%;
}

.qui-panel-buttons .qui-toolbar {
    border-bottom: 1px solid #999999;
    height: 100%;
    width: 100%;

}

.qui-panel-buttons button {
    color: #505050;
    background: transparent;
    border-radius: 0;
    border-width: 0 1px 0 0;
    border-color: #999999;
    border-style: solid;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 10px;
}

.qui-panel-buttons button:hover {
    background: #f6f8fa;
}

.qui-panel-buttons .qui-button-text-image {
    line-height: 50px;
}

.qui-panel-buttons .qui-btn2-text {
    white-space: nowrap;
}
/*
.qui-panel-buttons:before {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    position: relative;
    top: -2px;

    background-color: transparent;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.2), transparent);
    background-image: -webkit-gradient(linear, center top, left bottom, from(rgba(0, 0, 0, 0.2)), to(transparent));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent);
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2), transparent);
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.2), transparent);
}

.qui-panel-buttons:after {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    position: relative;
    top: 43px;

    background-color: transparent;
    background-image: -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.2), transparent);
    background-image: -webkit-gradient(linear, center bottom, left bottom, from(rgba(0, 0, 0, 0.2)), to(transparent));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), transparent);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2), transparent);
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.2), transparent);
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.2), transparent);
}
*/
.qui-panel-buttons .qui-btn-seperator {
    border-left: 1px solid #999;
    margin: 5px 4px 2px 7px;
}

/* Panel breadcrumb
 ================================================================= */

.qui-panel-breadcrumb {
    height: 40px;
    width: 100%;
    background: #fff;
    padding-left: 20px;
    border-bottom: 1px solid #dedede;
}


/* Panel left buttons - categories
 ================================================================= */

.qui-panel-categories {
    float: left;
    width: 190px;
    height: 100%;
    border-right: 1px solid #dedede;
    overflow: hidden;
    padding-top: 20px;
}

.qui-panel-categories .qui-btn2,
.qui-panel-categories .qui-btn2-over,
.qui-panel-categories .qui-btn2-active,
.qui-panel-categories .qui-btn2-disable {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #dedede;
    border-radius: 0px;
    background: transparent;
    padding: 10px 5px;
    margin: 0 !important;
    clear: both;
    width: 190px;
}

.qui-panel-categories .qui-btn2-active {
    background: #C3C3C3 !important;
    color: #222;
    border-width: 0 0 1px 0px !important;
    border-style: solid !important;
    border-color: #909090 !important;
    border-radius: 0px !important;
}

.qui-panel-categories .qui-btn2-over {
    background: #6C98D9 !important;
    color: #fff;
    border-width: 0 0 1px 0 !important;
    border-style: solid !important;
    border-color: #6C98D9 !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}