
.qui-select {
    float: left;
    height: 30px;
    width: 200px;

    margin: 1px 2px;
    padding: 0px 2px;

    border: 1px solid #c9c8c5;
    background: #fff;

    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;

            border-radius: 3px;
       -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.qui-select .drop-icon {
    background: url(images/drop.png) center center no-repeat;
    float: right;
    width: 16px;
    height: 30px;
}

.qui-select .icon {
    float: left;
    width: 28px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.qui-select .text {
    float: left;
    height: 30px;
    line-height: 30px;
}

.qui-select-open {

}

.qui-select-disable {
    cursor: default !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}