@CHARSET "UTF-8";

.qui-contextmenu-baritem {
    float: left;
    position: relative;
}

.qui-contextmenu-baritem-text {
    cursor: pointer;
    float: left;
    line-height: 40px;
    margin: 0 0 0 5px;
    padding: 0px 20px;

}

.qui-contextmenu-baritem-active .qui-contextmenu-baritem-text,
.qui-contextmenu-baritem-text:hover {
    background-color: #d1d4da;
    color: #555;
}
