
.qui-contextitem,
.qui-contextitem-container {
    background-repeat: no-repeat;
    background-position: center center;
    clear: both;
    cursor: pointer;
    float: left;
    font-size: 12px;
    line-height: 40px;
    position: relative;
    width: 100%;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
}

.qui-contextitem.haschildren {
    background-image: url(images/arrow-right.gif);
    background-position: right center;
}

.qui-contextitem-icon {
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 30px;
}

.qui-contextitem-text {
    color: #FFFFFF;
    float: left;
    margin-left: 10px;
    text-align: left;
}

.qui-contextitem-active {
    background-color: #393f48;
    color: #FFFFFF;
}

.qui-contextitem.qui-contextitem-active.haschildren {
    background: #6C98D9 url(images/arrow-right.gif) no-repeat right center !important;
    color: #FFFFFF;
}
