@CHARSET "UTF-8";

* {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.qui-box {
    float: left;
    height: 100%;
    width: 100%;

-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

/* sheet for control
 * ==================================================== */

.qui-sheet-content {
    clear: both;
    float: left;
    overflow: auto;
    outline: none;
    width: 100%;
    z-index: 1;

    -webkit-overflow-scrolling: touch;
}

.qui-sheet-buttons {
    clear: both;
    padding: 10px 0;
    width: 100%;
    z-index: 1;
}

.qui-sheet {
    background: #FFFFFF;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.qui-sheet-buttons-back {
    float: right;
    text-align: center;
}
