
.qui-column {
    /*border: 1px solid #DDDDDD;*/
    height: 100%;
    float: left;
    position: relative;
}

.qui-column-content {
    float: left;
    height: 100%;
    overflow: auto;
    padding: 10px 5px;
    width: 100%;
}

.qui-column-handle {
    background: transparent;
    border-width: 1px;
    border-top: 0;
    border-bottom: 0;
    border-style: solid;
    border-color: transparent;
    color: transparent;
    cursor : e-resize;
    float: left;
    height: 100%;
    overflow: hidden;
}

.qui-column-handle:hover {
    background: #C3C3C3 url(images/handle-icon.gif) center center no-repeat;
    border-color: #909090;
}

.qui-column-hor-handle {
    background: transparent;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: transparent;
    clear: both;
    cursor : n-resize;
    font-size: 1px;
    height: 4px;
    line-height: 1px;
    overflow: hidden;
}

.qui-column-hor-handle:hover {
    background: #EEE url(images/handle-icon-horizontal.gif) center center no-repeat;
    border-color: #C3C3C3;
}

.qui-column-drag-arrow {
    color: red;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    text-align: center;
    width: 20px;
}

.qui-column-hightlight {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 100;

    background-color: #6C98D9;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
