
.qui-panel {
    background: #FFFFFF;
    border-radius: 3px;
    clear: both;
    float: left;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.qui-panel-header {
    border-bottom: 2px solid #0069B4;
    background: #2F8FC6;
    color: #FFFFFF;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.qui-panel-close {
    background: #DEDEDE;
    border-bottom: 2px solid #8F9399;
    color: #8F9399;
}

.qui-panel-header button {
    background: transparent;
    border-radius: 0;
    border-color: #0069B4;
    border-style: solid;
    border-width: 0;
    box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    color: #FFFFFF;
    height: 40px;
    margin: 0;
}

.qui-panel-header .qui-buttons-seperator {
    border-left: 1px solid #FFFFFF;
    float: left;
    height: 28px;
    margin: 6px 0;
}

.qui-panel-title {
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    overflow: hidden;
}

.qui-panel-close .qui-panel-title {
    color: #8F9399;
}

.qui-panel-icon {
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 30px;
}

.qui-panel-footer {
    border-top: 1px solid #D3D3D3;
    clear: both;
    float: left;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    width: 100%;
}

.qui-panel-expand,
.qui-panel-collapse {
    cursor: pointer;
    float: right;
    height: 40px;
    line-height: 40px;
    padding-right: 5px;
    text-align: center;
    width: 40px;
}

.qui-panel-content {
    background: #FFFFFF;
    float: left;
    padding: 20px;
    position: relative;
    width: 100%;
}

.qui-panel-highlight {
    background-color: #6C98D9;
    left: 0;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

/* Panel topic buttons
 ================================================================= */

.qui-panel-buttons {
    background: #e1e4e9;
    height: 50px;
    position: relative;
    width: 100%;
}

.qui-panel-buttons .qui-toolbar {
    border-bottom: 1px solid #DEDEDE;
    height: 100%;
    width: 100%;
}

.qui-panel-buttons button {
    background: transparent !important;
    border-radius: 0;
    border-width: 0 1px 0 0;
    border-color: #e1e4e9;
    border-style: solid;
    box-shadow: none  !important;
    color: #8f9399;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 10px;
}

.qui-panel-buttons button.qui-button-active {
    background: #C3C3C3 !important;
    color: #222;
}

.qui-panel-buttons button:hover {
    background: #d1d4da;
}

.qui-panel-buttons .qui-button-text-image {
    line-height: 50px;
}

.qui-panel-buttons .qui-button-text {
    white-space: nowrap;
}

.qui-panel-buttons .qui-select {
    margin: 10px;
}

.qui-panel-buttons .qui-buttons-seperator {
    border-left: 2px solid #cccfd5;
    float: left;
    margin: 5px 4px 2px 7px;
    height: 40px;
}

/* Panel breadcrumb
 ================================================================= */

.qui-panel-breadcrumb {
    background: #fff;
    border-bottom: 1px solid #dedede;
    padding-left: 20px;
    height: 40px;
    width: 100%;
}

/* Panel left buttons - categories
 ================================================================= */

.qui-panel-categories {
    border-right: 1px solid #dedede;
    float: left;
    height: 100%;
    overflow: hidden;
    width: 190px;
}

.qui-panel-categories .qui-button {
    background: transparent;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #dedede;
    border-radius: 0;
    clear: both;
    color: #8F9399;
    margin: 0 !important;
    padding: 10px 5px;
    width: 190px;
}

.qui-panel-categories .qui-button-active {
    background: #C3C3C3 !important;
    border-width: 0 0 1px 0 !important;
    border-style: solid !important;
    border-color: #909090 !important;
    border-radius: 0 !important;
    color: #222;
}

.qui-panel-categories .qui-button-over {
    background: #2F8FC6 !important;
    border-width: 0 0 1px 0 !important;
    border-style: solid !important;
    border-color: #2F8FC6 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #fff;
}

.qui-panel-categories .qui-button .image-container {
    font-size: 20px;
}
