
.qui-taskpanel {
    clear: both;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.qui-taskpanel-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.qui-taskpanel .qui-btn2,
.qui-taskpanel .qui-btn2-disable,
.qui-taskpanel .qui-btn2-over,
.qui-taskpanel .qui-task,
.qui-taskpanel .qui-taskgroup {
    margin: 1px;
}

.qui-taskpanel .qui-taskbar {
    background: #DEDEDE;
}

.qui-taskpanel .qui-task {
    background: #a4a9ae;
    border: 1px solid #a4a9ae;
    color: #FFFFFF;
}

.qui-taskpanel .qui-task.active {
    background: #434a54;
    border-color: #434a54;
    color: #FFFFFF;
}

.qui-taskpanel .qui-task-text {
    color: #FFFFFF;
}

/** header
 ================================================== */

.qui-taskpanel-header {
    background: #DEDEDE;
    border-bottom: 2px solid #8F9399;
    color: #8F9399;
    cursor: pointer;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.qui-taskpanel-header-text {
    float: left;
    padding: 0 10px;
    text-overflow: ellipsis;
    width : calc( 100% - 50px );
    white-space: nowrap;
}

.qui-taskpanel-header-icon {
    float: left;
    text-align: center;
    width : 50px;
}