
.qui-contextitem,
.qui-contextitem-container {
    background-repeat: no-repeat;
    background-position: 8px center;
    clear: both;
    cursor: pointer;
    float: left;
    font-size: 12px;
    line-height: 40px;
    position: relative;
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.qui-contextitem {
    border-bottom: 1px solid #f5f5f5;
}

.qui-contextitem:last-child {
    border-bottom: none;
}

.qui-contextitem.haschildren {
    background-image: url(images/arrow-right.gif);
    background-position: right center;
}

.qui-contextitem-icon {
    background-repeat: no-repeat;
    background-position: center center;
    color: #333;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 30px;
}

.qui-contextitem-text {
    color: #4b595e;
    float: left;
    line-height: 20px;
    padding: 10px 0 10px 10px;
    text-align: left;
    width: calc(100% - 30px);
}

.no-icon .qui-contextitem-text {
    width: 100%;
}

.qui-contextitem-active {
    background-color: #d1d4da;
    color: #000;
}

.qui-contextitem__checkable.qui-contextitem-active {
    background-color: #fff;
}

.qui-contextitem-active .qui-contextitem-text {
    color: #000;
}

.qui-contextitem-disabled,
.qui-contextitem-disabled .qui-contextitem-container {
    cursor: default;
}

.qui-contextitem-disabled .qui-contextitem-text,
.qui-contextitem-disabled .qui-contextitem-icon {
    color: #999;
}

.qui-contextitem.qui-contextitem-active.haschildren {
    background: #6C98D9 url(images/arrow-right.gif) no-repeat right center !important;
    color: #FFFFFF;
}
