
.qui-contextmenu {
    position: absolute;
    z-index: 1000;
}

.qui-contextmenu-container {
    /*background: #434a54;*/
    background: #ffffff;
    border-radius: 3px;
    margin-left: 20px;
    padding: 5px 0;
    position: relative;
}

.qui-contextmenu-title {
    background: #393f48;
    color: #FFFFFF;
    float: left;
    overflow: hidden;
    padding: 2px 5px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.qui-contextmenu-shadow {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

/** corners
 * ====================================================== */

.qui-context-corner-top.qui-contextmenu:after,
.qui-context-corner-bottom.qui-contextmenu:after,
.qui-context-corner-left.qui-contextmenu:after,
.qui-context-corner-right.qui-contextmenu:after {
    content: "";
    width: 20px;
    height: 20px;
    background: #d1d4da;
    position: absolute;
    z-index: -1;

    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.qui-context-corner-top.qui-contextmenu:after {
    top: -5px;
    left: 30px;
}

.qui-context-corner-bottom.qui-contextmenu:after {
    bottom: -5px;
    left: 30px;
}

.qui-context-corner-right.qui-contextmenu:after {
    top: 15px;
    right: -5px;
}

.qui-context-corner-left.qui-contextmenu:after {
    top: 15px;
    left: 10px;
}
