@CHARSET "UTF-8";

.__body__ios_fix * {
    -webkit-transform: translate3d(0, 0, 0);
}

.qui-window-popup {
    background: #FFFFFF;
    overflow: hidden;
    position: fixed;
    top: 50px;
    z-index: 100000;
    -webkit-transform: translateZ(0);
}

.qui-window-popup-title {
    background: #DDDDDD;
    clear: both;
    float: left;
    padding: 10px;
    width: 100%;
}

.qui-window-popup-title-icon,
.qui-window-popup-title-text {
    float: left;
    line-height: 20px;
}

.qui-window-popup-title-close {
    cursor: pointer;
    float: right;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
}

.qui-window-popup-title-close:hover {
    background: #c3c3c3;
    color: #222;
}

.qui-window-popup-title-icon {
    margin-right: 10px;
}

.qui-window-popup-content,
.qui-window-popup-sheet-content {
    clear: both;
    float: left;
    overflow: auto;
    outline: none;
    padding: 20px;
    width: 100%;
    z-index: 1;

    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}

.qui-window-popup-buttons,
.qui-window-popup-sheet-buttons {
    background: #dddddd;
    clear: both;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
    -webkit-transform: translateZ(0);
}

.qui-window-popup-buttons:after,
.qui-window-popup-sheet-buttons:after {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0px, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0;
    content: "";
    height: 5px;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.qui-window-popup-buttons button {
    margin: 0 5px;
}

.qui-window-popup-sheet {
    background: #FFFFFF;
    height: 100%;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    -webkit-transform: translateZ(0);
}

.qui-window-popupsheet-buttons .back {
    float: right;
    text-align: center;
}
