@CHARSET "UTF-8";

.qui-window-popup {
    --_color: var(--qui-controls-windows-popup-color, inherit);
    --_color-title: var(--qui-controls-windows-color-title, inherit);
    --_bg: var(--qui-controls-windows-popup-bg, var(--qui-colors-modal, #fff));
    --_bg-titel: var(--qui-controls-windows-popup-bg-title, var(--qui-colors-modal-title, #f0f0f0));
    --_bg-actions: var(--qui-controls-windows-popup-bg-actions, var(--qui-colors-modal-actions, #f0f0f0));
    --_shadow: var(--qui-controls-windows-popup-shadow, var(--qui-shadow-modal, none));
    --_radius: var(--qui-controls-windows-popup-radius, var(--qui-radius-modal, 0));

    background-color: var(--_bg);
    border-radius: var(--_radius, 0);
    box-shadow: var(--_shadow, none);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    top: 50px;
    z-index: 100000;
    -webkit-transform: translateZ(0);
}

.qui-window-popup:focus {
    box-shadow: none;
    outline: 0;
}

.qui-window-popup-title {
    background-color: var(--_bg-titel);
    clear: both;
    float: left;
    padding: 10px;
    width: 100%;
}

.qui-window-popup-title-icon,
.qui-window-popup-title-text {
    float: left;
    line-height: 20px;
}

.qui-window-popup-title-close {
    background: transparent !important;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
    min-width: initial;
    padding: 0;
}

.qui-window-popup-title-close:hover {
    background: #c3c3c3 !important;
    color: #222;
}

.qui-window-popup-title-icon {
    margin-right: 10px;
}

.qui-window-popup-content,
.qui-window-popup-sheet-content {
    clear: both;
    float: left;
    flex-grow: 1;
    overflow: auto;
    outline: none;
    padding: 20px;
    width: 100%;
    z-index: 1;

    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}

.qui-window-popup-buttons,
.qui-window-popup-sheet-buttons {
    background-color: var(--_bg-actions);
    clear: both;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    -webkit-transform: translateZ(0);
}

.qui-window-popup-buttons button {
    margin: 0 5px;
}

.qui-window-popup-sheet {
    background: #FFFFFF;
    height: 100%;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    -webkit-transform: translateZ(0);
}

.qui-window-popupsheet-buttons .back {
    float: right;
    text-align: center;
}
