@CHARSET "UTF-8";

.qui-window-popup {
    background : #FFFFFF;
    overflow: hidden;
    position : fixed;
    top : 50px;
    z-index : 100000;
}

.qui-window-popup-title {
    background: #DDDDDD;
    clear: both;
    float: left;
    padding : 10px;
    width: 100%;
}

.qui-window-popup-title-icon,
.qui-window-popup-title-text {
    float: left;
    line-height: 20px;
}

.qui-window-popup-title-icon {
    margin-right: 10px;
}

.qui-window-popup-content,
.qui-window-popup-sheet-content {
    clear: both;
    float: left;
    overflow: auto;
    outline: none;
    padding : 20px;
    width: 100%;
    z-index: 1;

    -webkit-overflow-scrolling: touch;
}

.qui-window-popup-buttons,
.qui-window-popup-sheet-buttons {
    clear: both;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.qui-window-popup-buttons button {
    margin: 0 5px;
}

.qui-window-popup-sheet {
    background: #FFFFFF;
    height: 100%;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.qui-window-popupsheet-buttons .back {
    float: right;
    text-align: center;
}
