@CHARSET "UTF-8";

.qui-control-input-param {
    float: left;
}

.qui-control-input-param-list {
    background: #FFFFFF;
    border: 2px solid #DEDEDE;
    border-radius: 3px;
    clear: both;
    float: left;
    height: 100px;
    overflow: auto;
    padding: 0;
    width: 230px;
}

.qui-control-input-param-entry {
    border-bottom: 1px solid #DEDEDE;
    clear: both;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    padding: 5px;
    width: 100%;
}

.qui-control-input-param-entry:hover {
    background: #2F8FC6;
    color: #FFFFFF;
}


/** Param Window
 * =========================================================== */

.qui-control-input-param-window h2 {
    font-size: 16px;
}

.qui-control-input-param-window label {
    clear: both;
    display: block;
    max-width : 300px;
    width: 100%;
}

.qui-control-input-param-window select,
.qui-control-input-param-window input {
    clear: both;
    display: block;
    margin: 0 auto;
    max-width : 300px;
    width: 100%;
}

.qui-control-input-param-window-label {
    float: left;
    margin: 5px 0;
    width: 100%;
}