
.qui-control-input-range {
    float: left;
    width: 100%;
}

.qui-control-input-range-bar {
    float: left;
    margin: 0 0 0 20px;
    position: relative;
    top: 5px;
    width: calc(100% - 40px);
}

.qui-control-input-range-text {
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    top: 5px;
    width: 100%;
}

.qui-control-input-range .noUi-connects,
.qui-control-input-range .noUi-touch-area {
    cursor: pointer;
}
