/** QUI Tool / Tabbar
 ================================================================= */

.qui-toolbar {
    float: left;
    overflow: hidden;
}

.qui-toolbar-container {
    float: left;
    overflow: hidden;
}

.qui-toolbar-button {
    border-bottom-width: 2px !important;
    flex-shrink: 0;
    float: left;
    font-size: 10px;
    height: 22px;
    line-height: 22px !important;
    margin: 5px 3px 0 !important;
    text-align: center;
    padding: 0 0 !important;
    width: 30px
}

.qui-toolbar-button .qui-button-drop {
    display: none;
}

.qui-toolbar--mobile .qui-button-text {
    display: none;
}

.qui-toolbar--mobile .qui-button--no-icon .qui-button-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 30px !important;
}

.qui-toolbar-button-btnLeft {
    margin-left: 20px !important;
}

.qui-toolbar-button-btnRight {
    margin-left: 5px !important;
}

.qui-toolbar-button-scrollUp,
.qui-toolbar-button-scrollDown {
    height: 30px;
}