
.qui-elements-list {
    float: left;
    overflow: auto;
    width: 100%;
}

.qui-elements-list-item {
    border-bottom: 1px solid #dddddd;
    clear: both;
    cursor: pointer;
    float: left;
    padding: 10px;
    width: 100%;
}

.qui-elements-list-item:hover {
    background: #2f8fc6;
    color: #fff;
}

.qui-elements-list-item-icon {
    float: left;
    font-size: 42px;
    text-align: center;
    width: 60px;
}

.qui-elements-list-item-text {
    float: left;
    width: calc( 100% - 60px );
    padding: 10px;
}

.qui-elements-list-item header {
    padding: 10px;
}
