@CHARSET "UTF-8";

.messages-message {
    background-color: #e7e8ea;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    color: #464a4e;
    clear: both;
    cursor: default;
    float: left;
    font: 12px/16px 'Droid Sans', sans-serif;
    margin: 3px 0 0;
    padding: 10px;
    position: relative;
    width: 100%;
}

.messages-message:hover {
    opacity: 0.75;
}

.messages-message-header {
    clear: both;
    float: left;
    margin: 0 0 5px 0;
    width: 100%;
}

.messages-message-destroy {
    cursor: pointer;
    float: right;
    font-size: 12px;
}

.messages-message-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: normal;
    word-break: normal;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* Message colors
 ================================================================= */

.message-attention {
    background-color: #fcf3cf;
    border-color: #fbeebc;
    color: #7d6608;
}

.message-error {
    background-color: #f5d2d2;
    border-color: #f1c1c0;
    color: #6b1110;
}

.message-information {
    background-color: #daeefc;
    border-color: #cbe7fb;
    color: #24587e;
}

.message-success {
    background-color: #dff1cc;
    border-color: #d2ecb8;
    color: #316100;
}

.message-loading {
    background-color: #dae5f5;
    border-color: #cbdbf2;
    color: #24426c;
}
