
.qui-sitemap-entry {
    float: left;
    clear: both;
    position: relative;
}

.qui-sitemap-entry-container {
    float: left;
    white-space: nowrap;
}

.qui-sitemap-entry-opener {
    float: left;
    width: 20px;
    height: 30px;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center center;
}

.qui-sitemap-entry-opener-open {
    background-image: url('images/plus.png');
}

.qui-sitemap-entry-opener-close {
    background-image: url('images/minus.png');
}

.qui-sitemap-entry-icon {
    float: left;
    position: relative;
    width: 20px;
    height: 30px;
    text-align: center;
    padding: 0 0 0 5px;

    background-repeat: no-repeat;
    background-position: center center;
}

.qui-sitemap-entry-icon i {
    width: 100%;
    text-align: center;
}

.qui-sitemap-entry-icon-itm {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    line-height: 30px;
    font-size: 16px;
}

.qui-sitemap-entry-text {
    float: left;
    cursor: pointer;
    white-space: nowrap;
    padding: 0 10px 0 5px;
    line-height: 30px;
}

.qui-sitemap-entry-container:hover {
    background-color: #2F8FC6;
    color: #FFFFFF;
}

.qui-sitemap-entry-select {
    background-color: #0069B4;
    color: #FFFFFF;
}

.qui-sitemap-entry-holdBack {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);

    -khtml-opacity: 0.2;
      -moz-opacity: 0.2;
           opacity: 0.2;
}

.qui-sitemap-entry-children {
    float: left;
    margin-left: 20px;
    clear: both;
}
