
.qui-taskbar {
    float: left;
    clear: both;
    height: 30px;
    width: 100%;
    background-color: #f2f2f2;
}

.qui-taskbar-top {
    border-bottom: 1px solid #aaa;
}

.qui-taskbar-bottom {
    border-top: 1px solid #aaa;
}

.qui-taskbar.highlight {
 -webkit-box-shadow: 0px 0px 5px 2px rgba(255, 100, 255, 1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(255, 100, 255, 1);
         box-shadow: 0px 0px 5px 2px rgba(255, 100, 255, 1);
}

.qui-taskbar-button {
    background: none;
    border-width: 0px !important;
    border-radius: 0px !important;
    border-left: 1px solid #AAAAAA;
    color: #AAAAAA;
    float: left;
    line-height: 32px !important;
    margin: 0 2px !important;
    padding: 0 10px !important;

}

.qui-taskbar-button:hover {
    background: #AAAAAA;
    color: #FFFFFF;
}

.qui-taskbar-button .qui-button-drop {
    display: none;
}

.qui-taskbar-container {
    float: left;
    overflow: hidden;
}
