
.qui-task {
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
    float: left;
    font-size: 11px;
    height: 26px;
    line-height: 26px;
    margin: 0 0 0 4px;
    min-width: 120px;
    padding: 2px 5px;
    text-align: left;
    white-space: nowrap;
    width: 170px;
}

.qui-task.active {
    border: 1px solid #94928C;
    background: #94928C;
}

.qui-task.highlight {
    border: 1px solid #6C98D9 !important;
    background: #6C98D9 !important;
}

.qui-task-icon {
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0 5px 0 0;
    text-align: center;
    width: 20px;
}

.qui-task-text {
    color: #333;
    float: left;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
}

.qui-task-close {
    float: right;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    overflow: hidden;
    text-align: center;
    width: 20px;
}

.qui-task-close:hover {
    background: #94928C;
    color: #FFFFFF;
}
