
.qui-loader-inner-pacman {
    height: 60px;
    left: 50%;
    margin-left: -60px;
    margin-top: -30px;
    position: relative;
    top: 50%;
    width: 120px;
}

.qui-loader-inner-pacman > div:nth-child(2) {
    -webkit-animation: qui-loader-inner-pacman-balls 1s 0s infinite linear;
    animation: qui-loader-inner-pacman-balls 1s 0s infinite linear;
}

.qui-loader-inner-pacman > div:nth-child(3) {
    -webkit-animation: qui-loader-inner-pacman-balls 1s 0.25s infinite linear;
    animation: qui-loader-inner-pacman-balls 1s 0.25s infinite linear;
}

.qui-loader-inner-pacman > div:nth-child(4) {
    -webkit-animation: qui-loader-inner-pacman-balls 1s 0.5s infinite linear;
    animation: qui-loader-inner-pacman-balls 1s 0.5s infinite linear;
}

.qui-loader-inner-pacman > div:nth-child(5) {
    -webkit-animation: qui-loader-inner-pacman-balls 1s 0.75s infinite linear;
    animation: qui-loader-inner-pacman-balls 1s 0.75s infinite linear;
}

.qui-loader-inner-pacman > div:first-of-type {
    background: transparent !important;
    border-right: 25px solid transparent;
    border-top: 25px solid #FFEE00;
    border-left: 25px solid #FFEE00;
    border-bottom: 25px solid #FFEE00;
    border-radius: 25px;
    height: 0;
    position: relative;
    width: 0;
    z-index: 10;
}

.qui-loader-inner-pacman > div:nth-child(2),
.qui-loader-inner-pacman > div:nth-child(3),
.qui-loader-inner-pacman > div:nth-child(4),
.qui-loader-inner-pacman > div:nth-child(5) {
    border-radius: 100%;
    height: 10px;
    left: 100px;
    margin: 2px;
    position: absolute;
    top: 25px;
    transform: translate(0, -6.25px);
    width: 10px;
    z-index: 9;

    -webkit-transform: translate(0, -6.25px);
    -ms-transform: translate(0, -6.25px);
}


@-webkit-keyframes qui-loader-inner-pacman-balls {
    75% {
        opacity: 0.7;
    }

    100% {
        -webkit-transform: translate(-100px, -6.25px);
        transform: translate(-100px, -6.25px);
    }
}

@keyframes qui-loader-inner-pacman-balls {
    75% {
        opacity: 0.7;
    }

    100% {
        -webkit-transform: translate(-100px, -6.25px);
        transform: translate(-100px, -6.25px);
    }
}
