
.qui-loader {
    background: rgba(255,255,255, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.qui-loader-parent {
    position: relative;
}

.qui-loader-message {
    position: absolute;
    text-align: center;
    width: 100%;
}

.qui-loader-inner {
    height: 100%;
    width: 100%;
}