
.qui-sitemap-entry {
    clear: both;
    float: left;
    position: relative;
}

.qui-sitemap-entry-container {
    float: left;
    white-space: nowrap;
}

.qui-sitemap-entry-opener {
    float: left;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 20px;
}

.qui-sitemap-entry-opener.fa-minus-square-o,
.qui-sitemap-entry-opener.fa-plus-square-o {
    cursor: pointer;
}


.qui-sitemap-entry-icon {
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    height: 30px;
    padding: 0 0 0 5px;
    position: relative;
    text-align: center;
    width: 20px;
}

.qui-sitemap-entry-icon i {
    text-align: center;
    width: 100%;
}

.qui-sitemap-entry-icon-itm {
    font-size: 16px;
    left: 0;
    line-height: 30px;
    position: absolute;
    top: 0;
    z-index: 10;
}

.qui-sitemap-entry-disabled {
    cursor: default;
    opacity: 0.6;
}

.qui-sitemap-entry-text {
    cursor: pointer;
    float: left;
    line-height: 30px;
    padding: 0 10px 0 5px;
    white-space: nowrap;
}

.qui-sitemap-entry-highlighted,
.qui-sitemap-entry-container:hover {
    background-color: #2F8FC6;
    color: #FFFFFF;
}

.qui-sitemap-entry-disabled:hover,
.qui-sitemap-entry-disabled .qui-sitemap-entry-text:hover {
    background-color: transparent;
    color: #212527;
    cursor: default !important;
}

.qui-sitemap-entry-select {
    background-color: #0069B4;
    color: #FFFFFF;
}

.qui-sitemap-entry-holdBack {
    opacity: 0.2;
}

.qui-sitemap-entry-children {
    clear: both;
    float: left;
    margin-left: 20px;
}
